{{> header}}
<section class="bannerNewsList" style="background-image: url('/images/contactus/banner.jpg');">
</section>

<section class="cont mb20">
    <nav class="nav-newList clearfix">您现在的位置：<a href="/">首页</a> - <span class="uColor">联系我们</span></nav>
</section>

<section class="contact-main clearfix">
    <div class="map-container" id="dituContent"></div>
    <div class="contact-list">
        <h2>上海百事通信息技术股份有限公司</h3>
        <div class="contact-detail pr">
            <i>▶</i><h3 class="contact1">上海总部</h3>
            <p>上海市徐汇区宜山路1009号18楼</p>
            <p>电话：021-54266114</p>
            <p>传真：021-54278114</p>
        </div>
        <div class="contact-detail pr">
            <i>▶</i><h3 class="contact2">南京分公司</h3>
            <p>南京市建邺区奥体大街69号新城科技园5栋4楼东侧</p>
            <p>电话：025-58992726</p>
        </div>
        <div class="contact-detail pr">
            <i>▶</i><h3 class="contact3">广州分公司</h3>
            <p>广州市天河区龙口西路359号广建大厦二楼223-224室</p>
            <p>电话：020-85568130</p>
            <p>传真：020-85208020</p>
        </div>
    </div>
</section>

<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script src="/js/contactUs.min.js"></script>
{{> footer}}
