<footer class="footer oh">
	<section class="cont clearfix">
		<div class="footerLeft fl">
			<ul class="sitemapWrap">
				<li>
					<a href="/news">
						<p>新闻活动</p>
						<p class="icon-plus tr">+</p>
					</a>
				</li>
				<li>
					<a href="/aboutUs">
						<p>关于我们</p>
						<p class="icon-plus tr">+</p>
					</a>
				</li>
				<!-- 
				<li>
					<a href="#">
						<p>魔法大学</p>
						<p class="icon-plus tr">+</p>
					</a>
				</li> -->
				<li>
					<a href="/enterprise">
						<p>产品与案例</p>
						<p class="icon-plus tr">+</p>
					</a>
				</li>
				<li>
					<a href="/joinUs/6">
						<p>加入我们</p>
						<p class="icon-plus tr">+</p>
					</a>
				</li>
				<li>
					<a href="/contactUs">
						<p>联系我们</p>
						<p class="icon-plus tr">+</p>
					</a>
				</li>
				<li>
					<a href="/ability">
						<p>能力平台</p>
						<p class="icon-plus tr">+</p>
					</a>
				</li>
				<!-- <li>
					<a href="#">
						<p>投资者关系</p>
						<p class="icon-plus tr">+</p>
					</a>
				</li> -->
			</ul>
			<p class="cwhite f12 mt10 mb5">法宝网服务平台上的服务均由合作律师事务所和律师提供</p>
			<p class="cwhite f12 mb5">Copyright©2009 fabao.cn All Rights Reserved  ICP备案：沪B2-20070016  | 口袋律师</p>
			<div class="cwhite f12">
				<span class="vm">总部地址：上海市/徐汇区/宜山路1009号创新大楼18F </span> 
				<div class="ml20" style="display:inline;">
					<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402000902" style="text-decoration:none;"><img src="/images/ba.png" class="vm"/><p class="vm cwhite ml5" style="display:inline;">沪公网安备 31010402000902号</p></a>
				</div>
			</div>
		</div>
		<div class="footerRight fr">
			<ul class="list-qr">
				<li>
					<p class="tc"><img src="/images/common/qr1.png" alt="下载口袋律师APP"></p>
					<p class="tc f14 cwhite mt5">下载口袋律师APP</p>
				</li>
				<li>
					<p class="tc"><img src="/images/common/qr2.png" alt="法宝网公众微号"></p>
					<p class="tc f14 cwhite mt5">法宝网公众微号</p>
				</li>
			</ul>
		</div>
	</section>
</footer>

{{#isEqual newsDetail 1}}

{{else}}
<aside class="shareBar">
	<ul class="list-bar">
		<li class="icon-goto"></li>
		<li class="icon-indexwx"><img src="/images/index/qr1.jpg" /></li>
		<li class="icon-indexfb"><img src="/images/index/qr2.jpg" /></li>
		<li class="icon-indexls"><img src="/images/index/qr3.jpg" /></li>
		<li class="icon-indexfx">
			<div class="bdsharebuttonbox"><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></div>
		</li>
	</ul>
</aside>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
{{/isEqual}}

<script>
	/*
	$('.list-nav').find('span.cp').on('mouseover', function(){
		$('.list-nav').find('.list-secNav').hide();
		$(this).next('.list-secNav').slideDown({easing: 'easeOutBounce'});		
	});
	$('.list-secNav').hover(function(){$(this).show();},function(){$(this).hide();});

	//返回顶部显示隐藏
	function move(){
		$("html, body").animate({
			scrollTop:0
		},400);
	}
	function checkPosition(pos){
		if ($(window).scrollTop()>pos){
			$(".icon-goto").fadeIn();
		}else{
			$(".icon-goto").fadeOut();
		}
	}
	$(".icon-goto").on("click",move);
	$(window).on("scroll",function(){
		checkPosition(50);
	});
*/
</script>

</body>
</html>
